---

<center><h1> Reading Data Files in Python </h1></center>

---

***So far, we have seen the basic introduction of the python libraries that commonly used in data science tasks. Now, the first task is reading different type of files like `JSON`, `TEXT`, `CSV`, `EXCEL`, etc. In this work book we will see how to read these files and what are the different challenges that we face while reading files and how to tackle them.***

---
---

- ***`Pandas` is one of the most used library for reading data sets. In this section, we are going to use pandas for such kind of task.***
- Read more about the pandas here: https://pandas.pydata.org/pandas-docs/stable/index.html
---

***Install pandas with the command:***

If your using anoconda with python3: ***`!pip install pandas`***

If your using jupyter with pyhton3: ***`!pip3 install pandas`***

---
### `Reading CSV Files`
***Table of content:***
1. ***Reading CSV.***
2. ***Challenges with reading the CSV files.***
- Read the data except the fist few row in the file.
- Read the file present in the multiple directories.
- Check the delimiter and read file.
- If the data set is bigger in size, we can read a few rows only.
- if the data set has large number of column, read only specific columns.


***`Reading CSV`***

---
---

In [1]:
# import pandas library
import pandas as pd

---

***Read the `CSV` File***

**`About the Data Set:`** The data set that we are going is use is the Sales Data. It was collected by the data scientists at BigMart for 1559 products across 10 stores in different cities. It contains informations like `Item Identifier`, `Outlet Size`, `Item MRP`, `Outlet Location Type`, `Item Outlet Sales` etc.

---

In [2]:
# read the dataset
data = pd.read_csv('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/big_mart_sales.csv')

In [3]:
type(data)

pandas.core.frame.DataFrame

---

***You can see that the data is stored in type `DataFrame`***

***`DATAFRAME`***

- DataFrame is a 2-dimensional data structure with columns that can contain different data type.
- Similar to a spreadsheet or SQL table.
- It is generally the most commonly used pandas object.

In [4]:
# to view the data, we can use the head/tail command 
# head(n= "enter the number of rows to want to view from the top")

data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
# tail(n= "enter the number of rows to want to view from the bottom")
data.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

---

***After reading the dataset, the first thing that we check is the size of the dataset. To get the number of rows and columns present in the dataset we have the `shape` attribute.***

---

In [8]:
# to check the dimension of the data set, we can use the shape
data.shape

(8523, 12)

---

***Read the data except the first few rows in the file.***

- You may get an error while reading a CSV file because someone may have added few comments on the top of the file. In pandas we can still read the data set by skipping few rows from the top. 


---

***Read the file `big_mart_sales_top_rows_error.csv` present in the datasets directory.***

---

In [10]:
data_with_comments = pd.read_csv('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/big_mart_sales_top_row_error.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

---

- To deal with the **ParseError**, open the csv file in the text editor and check if you have some comments on the top.
- If yes, then count the number of rows to skip.
- While reading file, pass the parameter ***`skiprows = n (number of rows to skip)`***

---

In [11]:
# read the file
data_with_comments = pd.read_csv('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/big_mart_sales_top_row_error.csv', skiprows=5)

In [12]:
#view the data
data_with_comments.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

---

#### `READING FILES FROM MULTIPLE DIRECTORIES`


- When data is present in mutiple directories, Let's see how to read data in this case. 
- Hers, we have split the same dataset `year wise` into multiple files and stored them into mutliple directories.

- Use the **`glob`** library to list the files in a directory
---

In [13]:
# import the library
import glob

In [17]:
# list all the files in the folder
for directory in glob.glob('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory/*'):
    print(directory)

C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\1985
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\1987
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\1997
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\1998
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\1999
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\2002
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\2004
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\2007
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\2009

---

Now, each of the folders **`1985`**, **`1987`**, **`1997`**, **`1998`**, **`1999`**, **`2002`**, **`2004`**, **`2007`** and **`2009`** contains CSV. We will iterate through each of them and concatenate the files.


---

In [18]:
# iterate through each of the files
for directory in glob.glob('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory/*'):
    
    for files in glob.glob(directory + '/*'):
        print(files)

C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\1985\1985.csv
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\1987\1987.csv
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\1997\1997.csv
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\1998\1998.csv
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\1999\1999.csv
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\2002\2002.csv
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\2004\2004.csv
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\2007\2007.csv
C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory\2009\2009.csv

---

***Concatenate the files.***

---

In [20]:
# list to store datafram
data_frame_list = []

#iterate through each folder
for directory in glob.glob('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/multi-directory/*'):
    
    #iterate through each file
    for files in glob.glob(directory + '/*'):
        #read and append the dataframe
        data_frame_list.append(pd.read_csv(files))

In [21]:
#concatenate Dataframe
final_data =  pd.concat(data_frame_list)

In [22]:
final_data.head()

,Unnamed: 0,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
1,18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
2,21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
3,23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
4,29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362

In [23]:
final_data.tail()

,Unnamed: 0,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
923,8506,DRF37,17.25,Low Fat,0.084676,Soft Drinks,263.1910,OUT018,2009,Medium,Tier 3,Supermarket Type2,3944.8650
924,8511,FDF05,17.50,Low Fat,0.026980,Frozen Foods,262.5910,OUT018,2009,Medium,Tier 3,Supermarket Type2,4207.8560
925,8515,FDH24,20.70,Low Fat,0.021518,Baking Goods,157.5288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
926,8516,NCJ19,18.60,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2,858.8820
927,8521,FDN46,7.21,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976

---

#### `STORE THE CSV`

---

In [26]:
final_data.to_csv('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/merged_big_mart_sales', index=False)

---

#### `Read a CSV of a specific Delimeter`

---

---

- By default, while reading a CSV file pandas consider the seperator as ***`,`***. But if the CSV file has some other seperator or delimiter like ***`[;, \t ]`*** we need to specify that.



---

In [27]:
#read the data
data_delimiter = pd.read_csv('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/big_mart_sales_delimiter.csv')

In [33]:
# we can see that the seperator used in the CSV is tab `\t`
data_delimiter.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [30]:
# read the file again with delimiter parameter
data_delimiter = pd.read_csv('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/big_mart_sales_delimiter.csv', delimiter = '\t')

In [32]:
data_delimiter.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

---

#### `READ FIRST 'N' ROWS (WHEN DATA IS LARGE)`

---

In [38]:
# Specify the number of rows to read 
read_sample_from_data = pd.read_csv('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/big_mart_sales.csv', nrows=100)

In [42]:
# view the data
read_sample_from_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [43]:
#shape of the data
read_sample_from_data.shape

(100, 12)

---

#### `READ SPECIFIC COLUMNS`

- If the dataset has large number of columns, it is impossible to go through all of them in a single go so we can read only specific columns at a time.

----

In [44]:
# read specific columns
read_specific_columns = pd.read_csv('datasets/big_mart_sales.csv', usecols= ['Item_Identifier', 
                                                                             'Item_Type',
                                                                             'Item_MRP',
                                                                             'Item_Outlet_Sales'])
read_specific_columns

     Item_Identifier              Item_Type  Item_MRP  Item_Outlet_Sales
0              FDA15                  Dairy  249.8092          3735.1380
1              DRC01            Soft Drinks   48.2692           443.4228
2              FDN15                   Meat  141.6180          2097.2700
3              FDX07  Fruits and Vegetables  182.0950           732.3800
4              NCD19              Household   53.8614           994.7052
...              ...                    ...       ...                ...
8518           FDF22            Snack Foods  214.5218          2778.3834
8519           FDS36           Baking Goods  108.1570           549.2850
8520           NCJ29     Health and Hygiene   85.1224          1193.1136
8521           FDN46            Snack Foods  103.1332          1845.5976
8522           DRG01            Soft Drinks   75.4670           765.6700

[8523 rows x 4 columns]

####  `READ THE FIRST 100 ROWS`

---

In [45]:
data_100 = pd.read_csv('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/big_mart_sales.csv', nrows=100)

In [46]:
data_100.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [47]:
data_100.shape

(100, 12)

#### `READ THE NEXT 100 ROWS`


---

In [52]:
data_100_200 = pd.read_csv('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/1.csv/reading_csv/datasets/big_mart_sales.csv', skiprows=101, nrows=100)
data_100_200.columns = data_100.columns

In [53]:
data_100_200.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDD10,NaN,Regular,0.045798,Snack Foods,178.5344,OUT027,1985,Medium,Tier 3,Supermarket Type3,2854.9504
1,FDW57,8.31,Regular,0.115857,Snack Foods,179.1028,OUT049,1999,Medium,Tier 1,Supermarket Type1,3896.2616
2,DRB48,16.75,Regular,0.024833,Soft Drinks,38.7822,OUT013,1987,High,Tier 3,Supermarket Type1,667.7974
3,FDP09,19.75,Low Fat,0.034028,Snack Foods,212.0902,OUT018,2009,Medium,Tier 3,Supermarket Type2,3185.8530
4,FDH14,17.10,Regular,0.046770,Canned,141.1838,OUT013,1987,High,Tier 3,Supermarket Type1,2247.7408

In [54]:
data_100_200.shape

(100, 12)

---
---

### Reading EXCEL Files:

In this section, we will see how to read excel files using pandas and what are the challenges while reading the excel files and how to tackle them?


---
---

### `Table of content`

---
- ***Reading Excel Files***
- ***Challenges with reading the EXCEL file.***
    - Reading excel files with multiple sheets.
    - Comments in top rows.
    - **Assignment**: Read files present in multiple directories.



#### `READING EXCEL FILES`

---

***In this notebook, we are going to use the same `big_mart_sales` data.***

---

- Read the file `big_mart_sales.xlsx` present in the directory `datasets.`

---

In [57]:
# read data
data = pd.read_excel('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/3.excel/reading_excel/datasets/big_mart_sales.xlsx')

In [58]:
#view the data
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

#### `CHALLENGES WITH READING EXCEL FILES`

- ***Reading excel files with multiple sheets.***
- ***Comments in top rows.***
- ***Read files present in multiple directories.***

---

---

#### ***`EXCEL FILES WITH MULTIPLE SHEETS: SPECIFY THE SHEET NAME`***

- **`EXCEL`** files most of the time contain multiple sheets. 
- Using **`sheet_name`** parameter we can read a specific sheet 

---

***Now, we have a excel file `big_mart_sales_with_multiple_sheets.xlsx` that contain different sheets for different years `1985`, `1987`, `1997`***

In [59]:
# read the data with multiple sheets
data_with_multiple_sheet = pd.read_excel('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/3.excel/reading_excel/datasets/big_mart_sales_with_multiple_sheets.xlsx')

In [60]:
# unique year present in the data
data_with_multiple_sheet.Outlet_Establishment_Year.unique()

array([1985], dtype=int64)

***We can see that when we read the data with multiple sheets only the first sheet gets read.***

---

***To read the data from the specific sheet, we need to specify the sheet name. Let's see with the following example.***

In [61]:
sheet_1985 = pd.read_excel('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/3.excel/reading_excel/datasets/big_mart_sales_with_multiple_sheets.xlsx', sheet_name='1985')

In [63]:
sheet_1985.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
1,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
2,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
3,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
4,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362

In [64]:
sheet_1987 = pd.read_excel('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/3.excel/reading_excel/datasets/big_mart_sales_with_multiple_sheets.xlsx', sheet_name='1987')

In [65]:
sheet_1987.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
1,FDO10,13.65,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
2,FDF32,16.35,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
3,FDN22,18.85,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
4,DRJ59,11.65,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312

In [66]:
sheet_1997 = pd.read_excel('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/3.excel/reading_excel/datasets/big_mart_sales_with_multiple_sheets.xlsx', sheet_name='1997')

In [68]:
sheet_1997.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA03,18.50,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
1,FDS46,17.60,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076
2,FDP49,9.00,Regular,0.069089,Breakfast,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
3,FDR28,13.85,Regular,0.025896,Frozen Foods,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250
4,DRH01,17.50,Low Fat,0.097904,Soft Drinks,174.8738,OUT046,1997,Small,Tier 1,Supermarket Type1,2085.2856

#### `CONCATENATE ALL SHEETS`

---

In [69]:
# create an array of dataframes
sheets = [sheet_1985, sheet_1987, sheet_1997]
#concatenate the array
final_data = pd.concat(sheets)

In [71]:
#unique years in final_data 
final_data.Outlet_Establishment_Year.unique()

array([1985, 1987, 1997], dtype=int64)

---

***If we have comments on the top of a file. We can use `skiprows` to skip the first n rows and read the data.***


---

In [72]:
# read the data without skiprows
sheet_with_comments = pd.read_excel('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/3.excel/reading_excel/datasets/big_mart_sales_comments.xlsx')

In [73]:
#top rows of data
sheet_with_comments.head()

,# This is Big Mart Sales Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,# This is Big Mart Sales Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,# This is Big Mart Sales Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138
4,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

In [76]:
#read data with skiprows
sheet_with_comments = pd.read_excel('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/3.excel/reading_excel/datasets/big_mart_sales_comments.xlsx', skiprows=3)

In [78]:
sheet_with_comments.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

---

### `READ FILES FROM MULTIPLE DIRECTORIES`

In [80]:
#import library
import glob

In [82]:
# list to store datafram
data_frame_list = []

#iterate through each folder
for directory in glob.glob('C:/Users/sivak/OneDrive/Desktop/Books_Data/analytics vidhya/7.Reading Data files/3.excel/reading_excel/datasets/multi-directory-excel/*'):
    
    #iterate through each file
    for files in glob.glob(directory + '/*'):
        #read and append the dataframe
        data_frame_list.append(pd.read_excel(files))

In [83]:
#final data
final_data = pd.concat(data_frame_list)

In [84]:
final_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
1,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
2,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
3,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
4,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362

In [85]:
final_data.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
923,DRF37,17.25,Low Fat,0.084676,Soft Drinks,263191.0000,OUT018,2009,Medium,Tier 3,Supermarket Type2,3.944865e+06
924,FDF05,17.50,Low Fat,0.026980,Frozen Foods,262591.0000,OUT018,2009,Medium,Tier 3,Supermarket Type2,4.207856e+06
925,FDH24,20.70,Low Fat,0.021518,Baking Goods,157.5288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1.571288e+03
926,NCJ19,18.60,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2,8.588820e+05
927,FDN46,7.21,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1.845598e+03